<div id="<%= dom_id product %>">
  <p>
    <strong>Brand:</strong>
    <%= product.Brand %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= product.Product_Name %>
  </p>

  <p>
    <strong>Features:</strong>
    <%= product.Features %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= product.Information %>
  </p>

  <p>
    <strong>Performance levels:</strong>
    <%= product.Performance_Levels %>
  </p>

  <p>
    <strong>Signal processing gain:</strong>
    <%= product.Signal_Processing_Gain %>
  </p>

  <p>
    <strong>Hearing programs:</strong>
    <%= product.Hearing_Programs %>
  </p>

</div>
